
<section class="d2c_gradient_tl">
  <div class="container">
    <div class="p-5 md:p-10 lg:p-20 rounded-lg border border-greenish-gray text-center d2c_card_bg">
      <div class="w-full md:w-[85%] xl:w-3/4 mx-auto space-y-3">
        <h2 class="d2c_title">Take the First Step Today</h2>
        <p class="w-full md:w-[90%] xl:w-3/4 mx-auto">
          A compelling call-to-action section designed to motivate visitors to take the next step in their fitness journey
        </p>
        <a href="#d2c_contact" class="d2c_btn d2c_btn_secondary mt-3 lg:mt-7">
          Sign Up Now
        </a>
      </div>
    </div>
  </div>
</section>
