
<section class="d2c_gradient_lb">
  <div class="container">
    <div class="p-5 md:p-10 lg:p-20 rounded-lg border border-greenish-gray text-center d2c_card_bg">
      <div class="w-full md:w-[85%] xl:w-3/4 mx-auto space-y-3">
        <h2 class="d2c_title">¡Obten tu clase gratis!</h2>
        <p class="w-full md:w-[90%] xl:w-3/4 mx-auto">
            Da el primer paso y vive la experiencia FitZone con una clase de prueba sin compromiso. 
          Descubre lo que tu cuerpo y mente pueden lograr.
        </p>
        <a href="#d2c_contact" class="d2c_btn d2c_btn_secondary mt-3 lg:mt-7">
          Agenda tu clase ahora
        </a>
      </div>
    </div>
  </div>
</section>
