---
const pricingData = [
  {
    title: 'Basic Plan',
    price: '$20/',
    duration: 'month',
    listOne: 'Staffed Hours Only',
    listTwo: 'Fitness Floor & Cardio',
    listThree: '30-Minute Consultation',
    listFour: 'Club 360 Class',
    listFive: '50% Off on Guest Passes',
  },
  {
    title: 'Standard Plan',
    price: '$35.99/',
    duration: 'month',
    listOne: 'Access to All CLUB4 Locations',
    listTwo: 'Fitness Floor & Cardio',
    listThree: 'Studio Fitness & Les Mills Classes',
    listFour: 'Tanning/Red-Light Therapy',
    listFive: 'Guest Passes & Bottled Water',
    listSix: '30-Minute Fitness Consultation',
  },
  {
    title: 'Premium Plan',
    price: '$45.99/',
    duration: 'month',
    listOne: 'Access to All CLUB4 Locations',
    listTwo: 'Fitness Floor & Cardio',
    listThree: 'Studio Fitness & Les Mills Classes',
    listFour: 'Tanning/Red-Light Therapy',
    listFive: 'Hydro Massage',
    listSix: 'Guest Passes & Bottled Water',
    listSeven: 'Unlimited CLUB360 Classes',
  },
];
---

<section class="d2c_gradient_lb" id="d2c_pricing">
  <div class="container">
    <div class="text-center w-full md:w-11/12 lg:w-4/5 xl:w-[60%] mx-auto">
      <h2 class="d2c_title">
        Choose Your <br />
        <span class="text-outline" data-text="Pricing">Pricing</span>
      </h2>
      <p class="w-full md:w-4/5 xl:w-3/4 mx-auto">
        Join the GymKear family by choosing the membership plan that best suits your lifestyle and goals
      </p>
    </div>

    <div class="flex flex-wrap justify-center mt-6 lg:mt-10">
      {pricingData.map((plan, index) => (
        <div class="p-3 w-full md:w-1/2 lg:w-1/3" >
          <div class="d2c_pricing_card group h-full">
            <div>
              <p class="text-xl">{plan.title}</p>
              <h4 class="text-primary lowercase">
                <span class="text-7xl">{plan.price}</span>
                <label class="font-secondary">{plan.duration}</label>
              </h4>
              <ul class="space-y-2 mt-4 d2c_pricing_item">
                {[
                  plan.listOne,
                  plan.listTwo,
                  plan.listThree,
                  plan.listFour,
                  plan.listFive,
                  plan.listSix,
                  plan.listSeven
                ].filter(Boolean).map((item, i) => (
                  <li >{item}</li>
                ))}
              </ul>
            </div>

            <button class="d2c_btn d2c_btn_secondary mt-8 group-hover:bg-primary group-hover:text-secondary cursor-pointer">
              Get Membership Now
            </button>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
