---
import "../styles/global.css";

import Preloader from "../components/shared/Preloader.astro";
import SmoothScroll from "../components/shared/Lenis.astro";
import TittleOutline from "../components/shared/TitleOutline.astro";
import AOSInit from "../components/shared/AOSInit.astro";
import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";

---



<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" type="image/png" href="/Fitzone-white.png" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Grotesk&display=swap" rel="stylesheet" />
    <title>Fitzone - Transforma tu cuerpo  </title>
    <meta name="description" content="FitZone es un gimnasio moderno diseñado para transformar tu cuerpo y tu energía. Entrena en un ambiente joven, con clases grupales, asesoría personalizada y tecnología a tu alcance." />
  <meta property="og:title" content="FitZone - Tu zona de poder fitness" />
  <meta property="og:description" content="Únete a FitZone y transforma tu cuerpo con entrenamientos, comunidad y tecnología diseñados para ti." />
  <meta property="og:url" content="https://fitzone.com" />
  <meta property="og:type" content="website" />
  </head>
  <body class="antialiased font-primary font-secondary">
    <Preloader />
    <SmoothScroll />
    <TittleOutline />
    <AOSInit />
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
